*.mat
*.jpg
*.avi
*.jpeg
*.calibration
*.h5
*.mp4
*.cdf
*.tar
*.pyc
*.csv
*.json
*.hdf5
*.tgz
data/coco/
data/ECCV18_Challenge/
data/ECCV18_Preprocessed/
data/human3.6/
data/lsp_dataset/
data/lsp_dataset_original/
data/MPII/